<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.isme.zteui"
    android:versionCode="1"
    android:versionName="1.0" xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" tools:ignore="OldTargetApi"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.isme.zteui.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.isme.zteui.activity.AdDetailActivity" />
        <activity android:name="com.isme.zteui.activity.RestauQualifyActivity" />
        <activity android:name="com.isme.zteui.activity.LoginActivity" />
        <activity android:name="com.isme.zteui.activity.ConfirmOrderActivity" />
        <activity android:name="com.isme.zteui.activity.OnlinePayActivity" />
        <activity android:name="com.isme.zteui.activity.EvaluateRestaurantActivity" />
        <activity android:name="com.isme.zteui.activity.ComplaintActivity" />
        <activity android:name="com.isme.zteui.activity.ReservationActivity" />
        <activity android:name="com.isme.zteui.activity.ReservationSucceActivity" />
        <activity android:name="com.isme.zteui.activity.ReservationDetailActivity" />
        <activity android:name="com.isme.zteui.activity.OrderDetailActivity" />
        
        <!-- 正式上线将之删除 -->
        <activity android:name="com.isme.zteui.activity.Item" />
        
    </application>

</manifest>
